* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:checked + label img {
  font-size: larger;
  opacity: 1 !important;
  transform: translateX(-50%) !important;
}

input + label img {
  transform: translate(+50%);
  opacity: 0;
  transition: all 1s linear;
}

.cssMemSlider {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

body {
  display: flex;
  min-height: 100vh;
  padding-top: 400px;
}

img {
  width: 700px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  position: absolute;
  left: 50%;
  transform: translateX(-100px);
  top: 450px;
  opacity: 0;
  transition: all 1s linear;
}

input:checked + label .text {
  opacity: 1 !important;
  transform: translateX(-50%);
}

input {
  display: none;
}

.radio {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}

.radio:hover {
  background-color: aqua;
}

input:checked + label + label > div {
  border: 3px solid blue;
  background-color: white !important;
}

input + label + label {
  cursor: pointer;
}

.radio:active {
  border: 3px solid rgb(255, 0, 0);
}
